<html>
<head>
    <title>Contact Creation</title>
<head>
<body>
    <h1>You added a contact!</h1>
    <p>{{ newcontact.getUserName }}
    <p><a href="/">View your list of contacts</a></p>
</body>
</html>
