<html>
<head>
  <title>Contact Creation</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
<head>
<body>
  <h1>You added a contact!</h1>
  <p>{{ newcontact.getUserName }}
  <p><a href="/">View your list of contacts</a></p>
</body>
</html>
